*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
}
.menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
}
.heading{
    grid-column: 1/-1;
    text-align: center;
    background-color: orange;
    border: none;
    align-self: center;

}
.food{
    display: grid;
    position: relative;
}
.details{
    padding: 20px 10px;
    display: grid;

}

.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details{
    color: dimgray;
    font-size: 15px;
    line-height: 28px;
    font-weight: 300;
    align-self: stretch;
}
.details>button{
    background-color: orange;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 120px;
}
div {
    border: 2px solid #000;
            background-color: orange;
            display: block;
            max-width: 80%;
            height: auto;
            margin: auto;
}
img {
            width: 200px;
            height: 150px;
            display: grid;
        }